// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

// health-app
$BG_COLOR: #fafafa;
$APP_BG: #ffffff;
$APP_BOX_SHADOW: rgba(0, 0, 0, 16%);
$MAIN_COLOR: #ffd300;
$MAIN_TEXT_COLOR: #222222;
$SUB_TEXT_COLOR: #666666;
$BORDER_COLOR: #eeeeee;
$SUB_YELLOW: #fff9d9;
$MARK_COLOR_DECREASED: #fe612c;
$MARK_COLOR_INCREASED: $BLUE;
$MARK_COLOR_SAME: $BLACK;

// card
$NUMBER_COLOR: #444444;
$BMI_COLOR: #3cce3d;
$BLOOD_COLOR: #c63ce7;
$CHOLESTEROL_COLOR: #529afc;
$SMK_COLOR: #68a0eb;
$BLOOD_SUGER_COLOR: #d990f0;
$DRNK_COLOR: #ffb850;
$GFR_COLOR: #f9b5b4;
$EXERCIQTY_COLOR: #8dd1c8;

// tag
$MAIN_TAG: #fee0d6;
$SUB_TAG: #f1f1f1;
