@use '/src/styles/constants/colors';

.questionContainer {
  display: flex;
  align-items: center;
  width: 450px;
  height: 60px;
  padding-top: 70px;
  margin: 0 auto;

  h1 {
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
    color: colors.$QUESTION;
    text-align: center;
    word-spacing: 4px;
  }
}

ul {
  margin: 70px 40px 0;

  li {
    display: flex;
    align-items: center;
    padding: 7px;
    font-size: 14px;
  }

  label {
    margin-left: 10px;
    line-height: 19px;
    color: colors.$ANSWERS;
    letter-spacing: 0.5px;
  }
}
