@use '/src/styles/constants/colors';

.wrongAnswerContainer {
  position: relative;
  width: 550px;
  height: 550px;
  margin-top: 60px;
  overflow-y: scroll;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 10px rgba(100, 100, 100, 10%);

  h1 {
    display: flex;
    align-items: center;
    margin: 20px auto;
    font-size: 40px;
    color: colors.$ERROR;
  }

  ul {
    margin-top: 10px;

    li {
      color: colors.$ANSWERS;
    }
  }
}

button {
  bottom: 0;
  width: 550px;
  height: 70px;
  font-size: 18px;
  color: colors.$WHITE;
  background: colors.$ANSWER_BUTTON;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
