@use '/src/styles/constants/colors';

.wrongAnswerContainer {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 20px auto;
    font-size: 25px;
    color: colors.$QUESTION;
  }

  ul {
    margin-top: 10px;
  }
}
