@use '/src/styles/constants/colors';

.wrongAnswerContainer {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 20px auto;
    font-size: 25px;
    color: colors.$QUESTION;
  }

  ul {
    margin-top: 10px;
  }

  .submitButton {
    position: absolute;
    bottom: 0;
    width: 550px;
    height: 70px;
    font-size: 18px;
    color: colors.$WHITE;
    background: colors.$ANSWER_BUTTON;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
