@use '/src/styles/constants/colors';

.resultPageContainer {
  display: flex;
}

.scoreChartContainer {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px auto;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 27px;
    color: colors.$WHITE;
    transform: translate(-50%, -50%);
  }
}
