@use '/src/styles/constants/colors';

.resultPageContainer {
  display: flex;
}

.scoreChartContainer {
  position: relative;
  display: flex;
  width: 400px;
  height: 300px;
  margin: auto;

  p {
    position: absolute;
    top: 45%;
    left: 175px;
    font-size: 27px;
    color: colors.$WHITE;
  }
}
